# Ignore virtual environment folder
venv/

install_files/

TSE-Scada_Setup.exe

build/

dist/

# Ignore .git folder
.git/

test/

# Python specific ignores
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env
.env.*

# IDEs and Editors
.vscode/
.idea/